.nrms-blood-bigTit{
  text-align: center;
  .nrms-blood-hospitalTit{
    font-size: 16px;
  }
  .nrms-blood-labelTit{
    margin-top: 10px;
    font-size: 20px;
  }
}
.nrms-blood-tit{
  margin-top: 10px;
  height:35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap:wrap;
  padding-right: 10px;
  padding-left: 10px;
}
