.nrms-pad{
  .el-table thead.is-group th {
    background: #F3F6FD;
    .cell{
      color: #666666;
      font-size: 16px;
      font-weight: normal;
    }
  }
  .el-table tbody td {
    border: none;
    font-size: 16px;
  }
}
.nrms-pad-container{
  height: 100%;
  width: 100%;

  .el-tabs__nav-wrap::after{
    background-color: #f7f7f7;
  }
  .el-tabs{
    height: 100%;
    width: 100%;
  }
  .el-tabs__header{
    margin: 0px;
  }
  .el-tabs__content{
    height: 90%;
  }
  .el-tab-pane{
    box-sizing: border-box;
    padding-bottom: 10px;
    height: 100%;
  }
  .el-tabs__nav-scroll{
    display: flex;
    justify-content: center;
    background: #f7f7f7;
    box-sizing: border-box;
    .el-tabs__item{
      box-sizing: padding-box;
      margin-top: 30px;
      padding: 0px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      font-size: 18px;
      width: 180px;
      display: block;
      float: left;
      background: #FFFFFF;
      border-radius: 30px 30px 0px 0px;
      box-shadow: 2px 2px 10px #cccccc;
      color: #595959;
    }
    .el-tabs__active-bar{
      display: none;
    }
    .is-active{
      margin-top: 20px;
      line-height: 55px;
      height: 55px;
      background: #5281EB;
      color: #FFFFFF;
    }
  }
}
