.margin-24 {
  margin: 24px 0;
}

.top-24 {
  margin-top: 24px;
}

.bottom-24 {
  margin-bottom: 24px;
}

.w40 {
  width: 40px;
}

.clear {
  clear: both
}

.add-question {
  font-size: 1.5em;
  padding: 0.35em;
  color: rgb(196, 196, 196);
  text-align: center;
  border: 1px dashed #ddd;
  cursor: pointer;
}

.questionsDoList {
  margin-bottom: 1em;
}

.SortableItem {
  display: block;
  margin-top: 1em;
  padding: 0 1em;
  background: #fff;
  border: 1px dashed #ddd;
  user-select: none;
  cursor: grab;

  h5 {
    line-height: 29px;
  }

  .el-button-group {
    float: right;
    position: relative;
    z-index: 10;
  }

  li {
    line-height: 30px;
    font-size: 14px;

    em {
      margin-left: 1em;
      font-style: normal;
    }
  }
}
